---
---

@import "{{ site.theme }}";

$header-start: #241b3d;
$header-end: #7b2f55;
$heading-color: #7b2f55;

.page-header {
  background-color: $header-end;
  background-image: linear-gradient(120deg, $header-start, $header-end);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

.page-header .project-name,
.page-header .project-tagline {
  color: #ffffff;
}
