---
---

@import "{{ site.theme }}";

$header-start: #42395a;
$header-end: #66193f;
$heading-color: #81566c;

.page-header {
  padding: 2.25rem 6rem;
  background-color: $header-end;
  background-image: linear-gradient(120deg, $header-start, $header-end);
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: $heading-color;
  font-weight: 600;
}

.main-content h1 {
  font-size: 2.15rem;
}

.main-content h2 {
  font-size: 1.6rem;
}

.main-content h3 {
  font-size: 1.3rem;
}

.page-header .project-name,
.page-header .project-tagline {
  color: #ffffff;
}

.mission-details {
  margin-bottom: 20px;
}

.mission-summary {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
